---
layout: archive
title: Playmakers
---

<section id="playmakers" class="section--postsWrapper-red">
 <div class="container">  
   <div class="col-md-12">
          <div class="section-title lines-light">_The Playmakers</div>
      </div>  
    <div class="blockGroup">
      <ul class="blockGroup-list">
        {% for post in site.posts %}
             {% if post.categories contains 'playmakers' %}
          <li class="block">
            <div class="postArticle-wrapper">

              <article class="postArticle postArticle--short">
                {% if post.image.feature %}
                  <a href="{{ post.url }}">
                    <div class="postArticle-image desaturate" style="background-image:url('{{ post.image.feature | prepend: site.baseurl_featured_img }}')">
                    </div>
                  </a>
                {% else %}
                <a href="{{ post.url }}">
                  <div class="postArticle-image" style="background-image:url('{{site.baseurl}}assets/images/logo-black.svg')">
                  </div>
                </a>
                {% endif %}
                
                
              </article>
              <a class="postArticle-title" href="{{ post.url }}">{{ post.title }}</a>
              <div class="block-postMeta">{{ post.categories }}</div>
            </div>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
<!--
                    <div class="col-md-12">
          <div class="section-title button-archive align-right"><a href="/">_Back to homepage</a></div>
      </div>
-->
  </div>
</section> 