<!-- Javascript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>

<script src="/assets/javascripts/noty.min.js" type="text/javascript"></script>

<script>
    // poster frame click event
$(document).on('click','.js-videoPoster',function(ev) {
  ev.preventDefault();
  var $poster = $(this);
  var $wrapper = $poster.closest('.js-videoWrapper');     
  videoStop();
$('.shares').css('display', 'none');      
  videoPlay($wrapper);
});

// play the targeted video (and hide the poster frame)
function videoPlay($wrapper) {
  var $iframe = $wrapper.find('.js-videoIframe');
 var $share = $wrapper.find('.shares');
  var src = $iframe.data('src');
  // hide poster
  $wrapper.addClass('videoWrapperActive');
  // add iframe src in, starting the video
  $iframe.attr('src',src);
   $share.css('display', 'block');    
}

// stop the targeted/all videos (and re-instate the poster frames)
function videoStop($wrapper) {
  // if we're stopping all videos on page
  if (!$wrapper) {
    var $wrapper = $('.js-videoWrapper');
    var $iframe = $('.js-videoIframe');
  // if we're stopping a particular video
  } else {
    var $iframe = $wrapper.find('.js-videoIframe');
  }
  // reveal poster
  $wrapper.removeClass('videoWrapperActive');
  // remove youtube link, stopping the video from playing in the background
  $iframe.attr('src','');
}
</script>

<script src="/assets/javascripts/reveal.js"></script>
<script>
    Reveal.initialize();
//    Reveal.initialize({ 
//    width: "100%",
//	height: "100%"
//});
</script>

<script src="/assets/javascripts/jquery.fitvids.js"></script>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".vids").fitVids();
  });
</script>

<script src="{{ site.baseurl_javascripts }}imagesloaded.pkgd.min.js"></script>

{% if page.syntaxHighlighter %}
  <script src="{{ site.baseurl_javascripts }}prism.js"></script>
  <script src="{{ site.baseurl_javascripts }}plugins/prism-line-numbers.min.js"></script>
{% endif %}

<script>
  $(document).ready(function(){

    // Featured image loaded behavior
    $('.section-backgroundImage img').imagesLoaded()
      .done( function( instance ) {
        $('.post-featuredImage').addClass('is-loaded');
      });

    // Modal toggle behavior
    $('.modal-toggle-wrapper').click(function() {
    	$(this).toggleClass('active');
      $('.modal-toggle-bubble').toggleClass('active');
    	$('.modal-toggle-bubbleShadow').toggleClass('active');
      $('.modal-toggle-close-wrapper').toggleClass('active');
      $('.fullscreenModal').toggleClass('active');
    });

    // Prevent default anchor event and make a share popup
    $.fn.sharePopup = function (e, intWidth, intHeight, blnResize) {

      e.preventDefault();
      intWidth = intWidth || '750';
      intHeight = intHeight || '500';
      strResize = (blnResize ? 'yes' : 'no');

      //// Set title and open popup with focus on it
      var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
          strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
          objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
    }

    $('.shareButton').on("click", function(e) {
      $(this).sharePopup(e);
    });
  });

  // Show modal toggle after scrolling 300px
  $(document).scroll(function() {
    $('.modal-toggle-group').toggleClass('active', $(document).scrollTop() >= 300);
  });
    
    $('.menu-nav a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
});
    
</script>



