---
layout: default-pl
---

		<div class="reveal">
<div class="logomid">
<img class="centerlogo" src="/assets/images/logo-text-white.svg">

</div>
			<div class="slides">
<section data-background-image="{{ site.baseurl_featured_img }}/{{ page.image.feature }}" data-state="dimbg">
<div class="cover"><span class="playlist-title">{{ page.title }} </span><br><span class="wording-title">{{ page.wording }}</span></div>
</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[0] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid1 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid1 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid1 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid1 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song1 }}</h1>
<p class="gradient">by {{ page.songs.artist1 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[1] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid2 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid2 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid2 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid2 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song2 }}</h1>
<p class="gradient">by {{ page.songs.artist2 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[2] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid3 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid3 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid3 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid3 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song3 }}</h1>
<p class="gradient">by {{ page.songs.artist3 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[3] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid4 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid4 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid4 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid4 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song4 }}</h1>
<p class="gradient">by {{ page.songs.artist4 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[4] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid5 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid5 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid5 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid5 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}>
  </div>
<h1 class="gradient">{{ page.songs.song5 }}</h1>
<p class="gradient">by {{ page.songs.artist5 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[5] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid6 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid6 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid6 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid6 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song6 }}</h1>
<p class="gradient">by {{ page.songs.artist6 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[6] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid7 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid7 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid7 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid7 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song7 }}</h1>
<p class="gradient">by {{ page.songs.artist7 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[7] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid8 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid8 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid8 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid8 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song8 }}</h1>
<p class="gradient">by {{ page.songs.artist8 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[8] }}" data-state="dimbg">
<div class="vido">
    {% if page.songs.youtubeid9 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid9 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid9 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid9 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song9 }}</h1>
<p class="gradient">by {{ page.songs.artist9 }}</p>

</section>

<section data-background-image="https://source.unsplash.com/2000x1000/?{{ page.tags[9] }}" data-state="dimbg">
    <div class="vido">
    {% if page.songs.youtubeid10 %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.songs.youtubeid10 }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
{% elsif page.songs.spotifyid10 %}
<iframe src="https://open.spotify.com/embed/track/{{ page.songs.spotifyid10 }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
 {% endif %}
  </div>
<h1 class="gradient">{{ page.songs.song10 }}</h1>
<p class="gradient">by {{ page.songs.artist10 }}</p>

</section>

<section data-background-image="{{ site.baseurl_featured_img }}/{{ page.image.feature }}" data-state="dimbg">
<div class="cover"><span class="playlist-title">{{ page.title }}</span><br><span class="wording-title">by <a href="{{  page.authorurl }}" target="_blank">{{ page.author }}</a></span></div>
</section>
			</div>
		</div>

{% include footer-scripts.html %}
