---
layout: default
---
<article class="postWrapper">
  <section class="section--first is-darkBackgrounded u-table">
    <div class="section-backgroundImage">

      {% if page.image.feature %}
        <img class="post-featuredImage" src="{{ page.image.feature | prepend: site.baseurl_featured_img }}" style="
        {% if page.image.topPosition %}
          top:{{ page.image.topPosition }};
        {% endif %}
        " alt="">
      {% endif %}

    </div>
    <div class="section-gradient
    {% if page.bgGradientOpacity == "darker" %}
      section-gradient--darker
    {% elsif page.bgGradientOpacity == "lighter" %}
      section-gradient--lighter
    {% endif %}
    "></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h1 class="normalkan">{{ page.title }}</h1>
        <div class="postMeta-wrapper">
          <ul class="postMeta serified">
            <li class="postMeta-datetime serified">
              <time datetime="{{ page.date }}">
                {{ page.date | date_to_string }}
              </time>
            </li>
            <li class="postMeta-author serified">
              By {{ page.author }}
            </li>
            <li class="postMeta-tags serified">
              {{ page.categories }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

        {{ content }}

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
      </div>
      
    </div>
  </section>
</article>
